.body {
  display: flex;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-attachment: fixed;
}

.calculator {
  padding: 20px 25px 30px;
  border: 5px solid #656f66;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  box-shadow: 0, 5px, 0, 0;
  background: linear-gradient(#444, #656f66);
}

.calculator p {
  color: white;
  font-size: 24px;
}

#display {
  margin: 20px 0px;
  height: 40px;
  display: flex;
  width: 280px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  text-align: right;
}

.button {
  width: 20px;
  height: 50px;
  cursor: pointer;
  border-radius: 1px;
}

.buttons button {
  font-size: 24px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(2, 40px) repeat(4, 40px);
}
